{% if include.css.async %}
  {% if include.css.sri %}
    <link rel="preload" href="{{ include.css.href }}" as="style" onload="this.onload=null;this.rel='stylesheet'" integrity="{{ include.css.sri }}" crossorigin="anonymous">
    <noscript><link href="{{ include.css.href }}" rel="stylesheet" integrity="{{ include.css.sri }}" crossorigin="anonymous"></noscript>
  {% elsif include.css.href %}
    <link rel="preload" href="{{ include.css.href }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ include.css.href }}"></noscript>
  {% else %}
    <link rel="preload" href="{{ include.css }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ include.css }}"></noscript>
  {% endif %}
{% else %}
  {% if include.css.sri %}
    <link href="{{ include.css.href }}" rel="stylesheet" integrity="{{ include.css.sri }}" crossorigin="anonymous">
  {% elsif include.css.href %}
    <link rel="stylesheet" href="{{ include.css.href }}">
  {% else %}
    <link rel="stylesheet" href="{{ include.css }}">
  {% endif %}
{% endif %}
